body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    /* Fondo blanco */
    color: #ee1858;
}
header {
    background-color: #000;
    color: #ee1858;
    padding: 10px 20px;
    display: flex;
    justify-content: end; /* Cambiado para centrar el contenido principal */
    align-items: end;
    text-align: end;
}
header button{
    background-color: #ee1858;
    color: white;
    border: 2px solid #ee1858;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
header button:hover{
    background-color: #ee1858;
  border: 2px solid #ee1858;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
header button:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(207, 155, 218, 0.5);
}
header button:active{
    background-color: #d08fdb;
    border: 2px solid #d08fdb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Contenedor del logo */
.logo {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra el logo horizontalmente */
    align-items: center; /* Centra el logo verticalmente */
    background-color: #000;
}

/* Estilo del logo */
.logo img {
    max-width: 160px; /* Tamaño del logo */
    height: auto; /* Mantiene la relación de aspecto */
}
.logo a{
    display: inline-block; /* Asegura que la animación se aplique correctamente */
    transition: transform 0.3s ease; /* Animación al pasar el cursor */
}
.logo a:hover{
    transform: scale(1.2);
}
main h2{
    font-size: 50px;
}
main p{
    font-size: 25px;
    color: #000;

}
main h2,p {
    text-align: center;
}

/*estilo para main*/
.form-container {
    background-size: cover;
    width: 100%; /* Asegura que el div se centre correctamente */
    max-width: 600px; /* Limita el ancho máximo del formulario */
    margin: 20px auto;
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
  
  .h2form {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 1em;
    color: #555;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="url"] {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .buttonform {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1em;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .buttonform:hover {
    background-color: #0056b3;
  }